---
import Layout from '../../../layouts/Layout.astro';

---

<Layout
  title="Counseling Resources - FBC"
  description="A list of recommended resources for Biblical Counseling."
>
  <main class="w-full min-h-screen overflow-y-auto mx-auto">
    <div class="w-full h-[50vh] bg-primary flex justify-center items-center">
      <div class="w-11/12 lg:w-8/12 mx-auto text-center">
        <h1 class="text-4xl lg:text-6xl font-bold text-white">Counseling Resources</h1>
        <p class="text-lg text-white mt-4">
          Listed below are ministries with whom we would agree or recommend for more information on Biblical Counseling.
        </p>
      </div>
    </div>
    <div class="w-11/12 lg:w-8/12 mx-auto my-10 px-4">
      <h2 class="text-3xl font-bold text-primary">Recommended Resources</h2>
      <ul class="list-disc list-inside mt-4 text-lg text-gray-700 space-y-2">
        <li><a href="https://biblicalcounseling.com/" target="_blank" class="text-primary hover:underline">Association of Certified Biblical Counselors</a></li>
        <li><a href="https://biblicalcounseling.com/resources/podcast/" target="_blank" class="text-primary hover:underline">Truth in Love Podcast</a></li>
        <li><a href="https://www.faithlafayette.org/counseling" target="_blank" class="text-primary hover:underline">Faith Lafayette Counseling</a></li>
        <li><a href="https://scbc.sophia.ag/" target="_blank" class="text-primary hover:underline">Springfield Center for Biblical Counseling</a></li>
        <li><a href="https://briarwood.org/ministries/counseling/" target="_blank" class="text-primary hover:underline">Briarwood Counseling Ministry</a></li>
        <li>Grace Fellowship Counseling</li>
        <li><a href="https://www.mbts.edu/degrees/biblical-counseling/" target="_blank" class="text-primary hover:underline">Midwestern Baptist Theological Seminary Biblical Counseling</a></li>
        <li><a href="https://www.masters.edu/programs/biblical-counseling" target="_blank" class="text-primary hover:underline">Master's University Biblical Counseling</a></li>
        <li><a href="https://biblicalcounseling.com/book-reviews/" target="_blank" class="text-primary hover:underline">ACBC Recommended Books</a></li>
      </ul>
    </div>
  </main>
</Layout>
