@import "tailwindcss";

* {
  /*border: red 2px solid;*/
}

:root {
  --background: #ffffff;
  --primary: #401919;
  --primary-light: #e1dcd6;
  --primary-dark: #232523;
  --accent: #c69950;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
