@import "tailwindcss";

* {
  /*border: red 2px solid;*/
}

:root {
  --background: #ffffff;
  --primary: #ede8db;
  --primary-light: #ffffff;
  --primary-dark: #171717;
  --secondary-dark: #525252;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-secondary-dark: var(--secondary-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.parchment-background {
  background-color: #cc9f5c;
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
  /* FIX:  This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.floral-background {
  background-color: #4d1b00;
  background-image: url("https://www.transparenttextures.com/patterns/xv.png");
  /* FIX:  This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.leather-background {
  background-color: #000;
  background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
  /* FIX: This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
