---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="min-h-80 flex flex-col justify-center place-items-center gap-8">
    <p class="text-8xl">404</p>
    <p class="text-6xl">Page not found</p>
    <p class="text-xl">
      This page has been sovereignly withheld for God’s glory and your sanctification.
    </p>
  </main>
</Layout>
