---
import Layout from '../layouts/Layout.astro';
import AboutUs from '../components/home/AboutUs.astro';
import MeetingTimes from '../components/home/MeetingTimes.astro'
import OurHistory from '../components/home/OurHistory.astro'
---

<Layout>
  <main class="min-h-screen">
  
  <AboutUs />
  <MeetingTimes />
  <OurHistory />
  
  <div>
    <p class="w-10/12 mx-auto my-15">Taken from our church constitution, our statement of purpose is as follows:<br/>
    <br/>
    The foremost purpose of Faith Baptist Church, in love and obedience to her Savior and covenant Head, the Lord Jesus Christ, is to worship the triune God in 
    spirit and truth (John 4:24) by continuing steadfastly in the apostles’ doctrine and fellowship, and in observing the ordinances, and in prayers (Acts 2:42), 
    which require the members to assemble themselves together (Hebrews 10:25) and through this ministry that the elect might be saved (2 Timothy 2:10; John 17:2; 
    Matthew 28:18-20) and that the members of this church, both individually and collectively, through a proper exercise of spiritual gifts (1 Corinthians 13; Romans 12:6) 
    sovereignty bestowed at regeneration (1 Corinthians 12:13, 18), might be built up in the unity of the faith (Eph. 4:13) unto godliness (Titus 1:1) to speak the truth 
    in love (Eph. 4:15) so each member, by good works, might glorify the Father who is in heaven (Matthew 5:16).</p>
  </div>

  </main>
</Layout>
