---
import Layout from '../layouts/Layout.astro';
import AboutUs from '../components/home/AboutUs.astro';
import MeetingTimes from '../components/home/MeetingTimes.astro'
import OurHistory from '../components/home/OurHistory.astro'
import Leadership from '../components/home/Leadership.astro';
---

<Layout>
  <main class="min-h-screen">
    <AboutUs />
    <MeetingTimes />
    <OurHistory />
    <Leadership />
  </main>
</Layout>
