---
import Layout from '../../layouts/Layout.astro';

const links = [
  {
    title: "The Master's Seminary",
    description: "Faith Baptist Church is a TMS-friendly church.",
    url: "http://www.tms.edu/",
  },
  {
    title: "Grace to You",
    description: "The preaching ministry of John MacArthur.",
    url: "http://www.gty.org/",
  },
  {
    title: "9 Marks",
    description: "A ministry dedicated to equipping church leaders with a biblical vision and practical resources for displaying God’s glory to the nations through healthy churches.",
    url: "http://www.9marks.org/",
  },
  {
    title: "The Association of Certified Biblical Counselors",
    description: "ACBC is a fellowship of Christian pastors and laymen who have banded together to promote excellence in biblical counseling.",
    url: "http://www.biblicalcounseling.com/",
  },
  {
    title: "The Council on Biblical Manhood and Womanhood",
    description: "The Council on Biblical Manhood and Womanhood is a partnership of men and women who have stood for the Complementarian position for more than 25 years.",
    url: "http://cbmw.org/",
  },
  {
    title: "The Gospel Coalition",
    description: "The Gospel Coalition is a fellowship of evangelical churches in the Reformed tradition deeply committed to renewing our faith in the gospel of Christ and to reforming our ministry practices to conform fully to the Scriptures.",
    url: "http://www.thegospelcoalition.org/",
  },
  {
    title: "Founders",
    description: "Founders Ministries is a ministry of teaching and encouragement that is committed to the recovery of the gospel and the biblical reformation of local churches.",
    url: "http://www.founders.org/",
  },
];
---

<Layout>
  <main class="w-full min-h-screen bg-primary-light overflow-y-auto mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-10/12 mx-auto">
      <h1 class="text-4xl font-bold text-center mb-12">Recommended Links</h1>

      <p class="text-xl text-center mb-12">Please note:
Although Faith Baptist believes the sites below to be trustworthy and beneficial, we do not necessarily endorse all the beliefs promoted on them.</p>

      <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
        {links.map(link => (
          <div class="bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-2xl font-bold text-primary-dark mb-2">{link.title}</h2>
            <p class="text-gray-700 mb-4">{link.description}</p>
            <a href={link.url} target="_blank" class="text-secondary-dark hover:underline">Visit Site &rarr;</a>
          </div>
        ))}
      </div>
    </div>
  </main>
</Layout>
