---
import DoubleTitle from '../DoubleTitle.astro'
import CardComponent from './CardComponent.astro'
import Button from '../Button.astro'
---

<section class="bg-primary-light flex flex-col justify-center place-items-center gap-16 py-16">

  <DoubleTitle topText="About Us" bootomText="Our Core Principles" />

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-7 lg:gap-10 justify-items-center px-10">
    <CardComponent 
       icon="/imgs/Church-Icon-1.svg" 
       iconDescription="icon of a church" 
       width="60px"
    />
    <CardComponent 
       icon="/imgs/Group.svg" 
       iconDescription="icon of hands and cross" 
       width="60px" title="Reformed" 
       text="We stand in the sacred tradition of the Gospel recovery of the 16th century Reformers."
    />
    <CardComponent 
       icon="/imgs/Bible-Icon-1.svg" 
       iconDescription="icon of a bible" 
       title="Confessional" 
       text="Our doctrinal standard of unity is in full subscription to the Second London Baptist Confession of 1689."
    />
    <CardComponent 
       icon="/imgs/Cross-Icon-1.svg" 
       iconDescription="icon of a cross" 
       title="Trinitarian" 
       text="We believe God is one undivided essence yet subsisting distinctly as the Father, the Son, and the Spirit."
    />
  </div>

  <div class="flex justify-center font-serif">
    <Button link="/about" text="Learn More!" />
  </div>

</section>
