---
import Button from '../Button.astro';
---

<section class="flex flex-col justify-center place-items-center gap-6 text-primary-light text-pretty text-lg text-center my-20">
  <h2 class="text-4xl">About Us</h2>
  <p class="max-w-5xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <Button link="/about" text={'Learn More'} />
</section>
