---

---

<section class="p-12 gap-80">  
    <div class="flex flex-col place-items-center p-20 justify-center">
        <h1 class="flex justify-center text-accent text-4xl font-serif pb-20">About Us</h1>
        <p class="flex text-center text-xl px-25">On behalf of our Church, welcome to our website.
            Faith Baptist Church is a Confessional, Reformed, Baptist congregation. As a Confessional church, we adhere to 
            the New Hampshire Confession of Faith as the best summary for the teaching found in the Bible and to the five Solas 
            of the Reformation. As a Reformed church, we believe in the doctrines of grace and have traditional worship focused on 
            prayer, hymn and Psalm singing, Scripture reading, observing the ordinances, and preaching. As a Baptist church, we believe 
            that only regenerate individuals should be baptized by immersion and that the local congregation is autonomous. We trace our 
            heritage back to the Particular Baptists in the 17th Century of England. Our church shares similar doctrinal beliefs with 
            Andrew Fuller, William Carey, and Charles Spurgeon.<br><br>
            This Church’s goal is to have the Biblical teaching warm our hearts to worship God and tell others about Him. We accomplish 
            it by preaching God’s Word with application to our soul. Through preaching Christ crucified, prayer, and loving one another, 
            Jesus Christ will build His Church for His glory.
            I invite you to come to our Sunday service at 11:00am. We would enjoy meeting you and answering any questions.</p>
    </div>
    
</section>