---
import DoubleTitle from '../DoubleTitle.astro'
import CardComponent from './CardComponent.astro'
import Button from '../Button.astro'
---

<section class="bg-primary-light flex flex-col justify-center place-items-center gap-16 py-16">

  <DoubleTitle topText="About Us" bootomText="Our Core Principles" />

  <div class="flex flex-row justify-center gap-7">
    <CardComponent icon="/imgs/Church-Icon-1.svg" iconDescription="icon of a church" width="60px"/>
    <CardComponent icon="/imgs/Group.svg" iconDescription="icon of hands and cross" width="60px" title="Reformed" text="By principle and polity, we're independent local churches, under the Headship of Christ, congregated by regenerate baptized believers."/>
    <CardComponent icon="/imgs/Bible-Icon-1.svg" iconDescription="icon of a bible" title="Confessional" text="By principle and polity, we're independent local churches, under the Headship of Christ, congregated by regenerate baptized believers."/>
    <CardComponent icon="/imgs/Cross-Icon-1.svg" iconDescription="icon of a cross" title="Trinitarian" text="By principle and polity, we're independent local churches, under the Headship of Christ, congregated by regenerate baptized believers."/>
  </div>

  <div class="flex justify-center font-serif">
    <Button link="/about" text="Learn More!" />
  </div>

</section>
