---
const { title="The Preeminence of Christ", passage="Colossians 1:16-17"} = Astro.props;
import Button from "../Button.astro";
---

<div class="flex flex-row justify-center rounded-2xl">
  <div class="w-[300px]">
    <img src="/imgs/bible.png"/>
  </div>
  <div class="flex flex-col place-items-center font-serif justify-center bg-primary-light">
    <h2 class="text-2xl">{title}</h2>
    <div></div>
    <p class="text-lg">{passage}</p>
    <Button text="Play"/>
  </div>
</div>
