---

---

<section class="flex flex-col justify-center place-items-center border border-black rounded-3xl overflow-hidden my-20 w-6/12 mx-auto">
  <div id="parent-container" class="w-full flex justify-center place-items-center min-h-80">
    <h1 class="text-6xl lg:text-8xl">Latest Sermon</h1>
  </div>
  <div class="flex p-8">
    <p class="text-6xl">Sermon Title</p>
  </div>
</section>

<style>
  #parent-container {
    background-image: url("https://placehold.co/600x400.png");
    background-position: center center;
    background-size: cover;
  }
</style>
