---
import DoubleTitle from '../DoubleTitle.astro'

---

<section class="">
  <DoubleTitle topText="Latest Sermons" bottomText="Sola Scriptura"/>
  <div class="flex justify-center py-12 font-medium underline underline-offset-2">
    <a href="/sermons">More Sermons</a>
  </div>
</section>
