---
import LeadershipCard from "./LeadershipCard.astro"
---
<section>
<div>
    <h1 class="flex justify-center text-accent text-4xl font-serif p-20">Our Leadership</h1>
    <LeadershipCard />
</div>
</section>