---
const { 
image="/imgs/Brandon.jpg", 
name="Brandon Rhea", 
flipped=false,
text="Pastor Brandon Rhea was born and raised near Springfield, IL.  He graduated from Illinois College in 2007 with a B.A. in History, from Moody Theological Seminary in 2010 with a Master of Divinity, and a PhD  in Historical Theology in 2021 from Midwestern Baptist Theological Seminary in Kansas City. He authored Spurgeon's Forgotten Sabbatarianism with Founders Press. He is also an ACBC certified Biblical counselor. He is married to Karise with whom he raises Ian, Elizabeth, Patrick, and Christopher. He is interested in church history, especially Charles Spurgeon, and has a heart for street preaching and evangelism.  "
} = Astro.props;
---

<div class=`flex flex-col ${flipped ? "lg:flex-row-reverse" : "lg:flex-row"} max-w-10/12 md:max-w-[550px] lg:max-w-[1200px] justify-center rounded-2xl bg-red-300 overflow-hidden mx-12`>

  <div class="flex-1 lg:flex-2">
    <img src={image} class="object-center lg:object-cover h-auto lg:h-full w-full lg:w-auto" />
  </div>

  <div class="flex-3 flex flex-col place-items-center gap-6 p-8 font-serif justify-center text-center text-balance bg-primary-light">
    <div>
        <h2 class="text-3xl">{name}</h2>
        </div>
        <div class="">
        <p class="text-lg"> {text}</p>
    </div>
  </div>

</div>
