---
import LeadershipCard from "./LeadershipCard.astro"
---
<section>
<div class="flex flex-col place-items-center gap-16 py-16">
    <h1 class="flex justify-center text-accent text-4xl font-serif">Our Leadership</h1>
    <LeadershipCard />
</div>
</section>
