---

---

<section class="bg-primary text-white border-t-4 border-b-4 border-black gap-80">  
    <div class="flex flex-col place-items-center p-10 lg:p-20 justify-center">
        <h1 class="flex justify-center text-accent text-4xl pb-10 lg:pb-20 font-serif">Our History</h1>
        <p class="flex text-balance text-center text-md md:text-lg lg:text-xl lg:px-25"> In 1978, Faith Baptist Church started meeting in homes. The Hardens, Webbers, and Walkers served as 
            the founding members. The church eventually rented the upstairs of Slaughter Printing to hold their meetings. When the 
            Church of God built a new building on the south side of Kirksville, Faith Baptist Church bought their old building which 
            is the church’s current location. </p>
    </div>
</section>