---

---

<section class="bg-primary p-12 text-white border-t-4 border-b-4 border-black gap-80">  
    <div class="flex flex-col place-items-center justify-center">
        <h1 class="flex justify-center text-accent text-3xl font-serif pb-4">Our History</h1>
        <p class="flex text-center text-lg px-15 pb-4"> In 1978, Faith Baptist Church started meeting in homes. The Hardens, Webbers, and Walkers served as 
            the founding members. The church eventually rented the upstairs of Slaughter Printing to hold their meetings. When the 
            Church of God built a new building on the south side of Kirksville, Faith Baptist Church bought their old building which 
            is the church’s current location. </p>
    </div>
</section>