---
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
import { faClock } from '@fortawesome/free-regular-svg-icons';
const { title="Sunday School", day="Sunday", time="12pm"} = Astro.props;
---

<div class="flex justify-center py-6 lg:py-12">
  <div class="flex flex-col place-items-center justify-center gap-3">
    <div class="text-4xl">
      <FontAwesomeIcon icon={faClock}/>
    </div>
    <h1 class="text-2xl font-serif">{title}</h1>
    <h2 class="text-lg">{day}</h2>
    <p class="text-lg">{time}</p>
  </div>
</div>
