---
import Layout from '../../layouts/Layout.astro';
export async function getStaticPaths() {
  const res = await fetch("https://media.faithbaptistkirksville.org/wp-json/wp/v2/media?per_page=100");
  const posts = await res.json();
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
const { post } = Astro.props;
---
<Layout title={post.title.rendered}>
  <main class="container">
    <h1 set:html={post.title.rendered}></h1>
    <audio controls>
      <source src={post.source_url} type={post.mime_type}>
    </audio>
  </main>
</Layout>
