---
import Layout from "../../layouts/Layout.astro";
import LoadMoreSermons from "../../components/sermons/LoadMoreSermons.jsx";
---
<Layout>
  <main class="container">
    <h1>Sermons</h1>
    <LoadMoreSermons client:load />
  </main>
</Layout>
