---
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
import { faMagnifyingGlass } from '@fortawesome/free-solid-svg-icons';
import Layout from '../../layouts/Layout.astro';
import LoadMoreSermons from "../../components/sermons/LoadMoreSermons.jsx";
---
<Layout>
  <main class="w-full flex flex-col place-items-center mx-auto bg-primary-light">
    <div class="w-10/12 flex flex-col place-items-center">

    <div class="flex justify-center place-items-center w-full h-[30vh]  bg-primary text-white rounded-b-xl">
      <h1 class="text-5xl">SERMONS</h1>
    </div>

    <div class="flex place-items-start w-[92%] gap-8 -mt-10">

      <div class="flex flex-col gap-4 bg-white rounded-md shadow-lg drop-shadow-lg flex-2 p-10">
        <div class="flex gap-4 border-b-2 border-accent py-2 px-2 mb-2">
          <FontAwesomeIcon icon={faMagnifyingGlass}  transform={"down-4"} />
          <input class="active:border-none" type="text" placeholder="Search">
        </div>
        <p class="text-2xl">Index</p>
        <p class="text-xl text-primary-dark indent-4">All</p>
        <p class="text-xl text-primary-dark indent-4">Series</p>
        <p class="text-xl text-primary-dark indent-4">Speaker</p>
      </div>

      <div class="flex-7">
        <LoadMoreSermons client:load />
      </div>

    </div>

    </div>
  </main>
</Layout>

<style>
  input:focus,
  input:active {
    outline: none;
    box-shadow: none;
  }
</style>
