---
import Layout from "../../layouts/Layout.astro";
const res = await fetch("https://media.faithbaptistkirksville.org/wp-json/wp/v2/media?per_page=100");
const posts = await res.json();
---
<Layout>
  <main class="container">
    <h1>Sermons</h1>
    <ul>
      {posts.map(post => (
        <li>
          <a href={`/sermons/${post.slug}/`} set:html={post.title.rendered}></a>
        </li>
      ))}
    </ul>
  </main>
</Layout>
