---
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
import { faEnvelope } from '@fortawesome/free-solid-svg-icons'
---

<footer class="bg-orange-50">
  <p>footer</p>
  <p>footer</p>
  <FontAwesomeIcon icon={faEnvelope} class=""/>
</footer>

