---
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
import { faEnvelope } from '@fortawesome/free-solid-svg-icons'
import { faFacebook } from '@fortawesome/free-brands-svg-icons'
import { faLocationDot } from '@fortawesome/free-solid-svg-icons'
---

<footer class="flex justify-between place-items-start w-10/12 mx-auto pt-5 pb-5 text-primary">

  <div class="flex-col">
    <h1 class="font-bold text-xl">SERVICE TIMES</h1>
    <p class="pb-3"> Sunday Bible Study : 10:00 AM <br/> Sunday Morning Worship: 11:00 AM 
      <br/> Wednesday Prayer: 7:00 PM <br/> <a href="" class="underline hover:text-primary-light">Learn More</a></p>
  </div>

  <div class="flex-col">
    <h1 class="font-bold text-xl">FAITH BAPTIST CHURCH</h1>
    <p>502 N Florence  ​.  ​Kirksville, MO 63501 <br/> <a href="tel:660-665-1622" class="hover:text-primary-light">660-665-1622</a></p>
    <div class="text-2xl">
      <a href="https://www.facebook.com/faithbaptistkv" target="_blank" class="hover:text-primary-light"><FontAwesomeIcon icon={faFacebook} /></a>
      <a href="" target="" class="hover:text-primary-light"></a><FontAwesomeIcon icon={faEnvelope} /></a>
      <a href="https://maps.app.goo.gl/BJqNRzsVsEP34xSv9" target="_blank" class="hover:text-primary-light"><FontAwesomeIcon icon={faLocationDot} /></a>
    </div>
  </div>

  <div class="place-self-end">
    <h1>
      &copy;2026 Faith Baptist Church
    </h1>
  </div>
</footer>

