---
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
import { faFacebook } from '@fortawesome/free-brands-svg-icons'
---

<footer class="bg-primary text-background">
  <div>
    *FB*
    *PHONE*
    *EMAIL*
    *MAP*
  </div>
  <div>
    <p>"Speaking the truth in love."</p>
    Home  Sermons  ABout Us  Resources  Contact
  </div>
  <div>
    <p>&#xA9 2026 All rights reserved</p>
  </div>
  
  Footer Section
</footer>

