---

---

<section id="parent-container" class="h-[30vh] md:h-[50vh] flex justify-center place-items-center">
  <div class="flex justify-center place-items-center text-white">
    <h1 class="text-6xl lg:text-8xl">SOLI DEO GLORIA</h1>
  </div>
</section>

<style>
  #parent-container {
    background-image: url("https://placehold.co/600x400.png");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
</style>
