<section class="text-primary-light flex justify-evenly my-20">
  <div class="flex flex-col">
    <h2 class="text-4xl mb-6">Join us in worship!</h2>
    <h3 class="text-2xl font-semibold">Meeting Times</h3>
    <ul class="text-2xl ml-4 flex flex-col gap-2 mt-2">
      <li>Sunday School: 10am</li>
      <li>Sunday Service: 11am</li>
      <li>Wednesday Prayer Meeting: 7pm</li>
    </ul>
  </div>
  <div class="overflow-hidden rounded-2xl">
    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6094.984188890355!2d-92.58133348822798!3d40.198115368796806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87e80e80066212c9%3A0x7163cd83d9b8ea3d!2sFaith%20Baptist%20Church!5e0!3m2!1sen!2sus!4v1763232822059!5m2!1sen!2sus" 
      width="600" 
      height="450" 
      style="border:0;" 
      allowfullscreen="" 
      loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade">

    </iframe>
  </div>
</section>
