---
import DoubleTitle from "./DoubleTitle.astro"
import Button from "./Button.astro"
---

<div class="flex flex-col place-items-center justify-center gap-10 lg:pb-20 max-w-10/12 mx-auto">
  <DoubleTitle topText="Statement of Faith" bottomText="What We Belive" />
  <p class="flex text-center text-md md:text-lg text-balance lg:text-xl lg:px-25 text-lg">Faith Baptist Church adheres to the New Hampshire Baptist Confession</p>
  <Button text="Read the Confession" link="confession" />
</div>
